/* FavoritesPage.module.css */
.favoritesContainer {
    color: #fff;
    padding: 20px; 
    margin: 20px; 
    background-color: #030b1e; 
    min-height: 100vh; 
    box-sizing: border-box; 
  }
  
  .favoritesTitle {
    font-family: 'Orbitron', sans-serif; 
    font-size: 2rem; 
    margin-bottom: 10px; 
  }
  
  .characterList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    justify-content: center; 
  }
  
  